#users-form {
    display:flex;
    flex-flow: column;
}

.emails {
    /* display:flex; */
    /* flex-flow: column; */
}

.input {
    margin-top: 10px;
}

input[type="text"], input[type="date"], input[type="email"] {
    display: block;
    width: 250px;
    max-width: 100%;
}

.buttons > input {
    display: inline-block;
}